.textodatos {
  display: inline-block; 
  width: 100%;
  vertical-align: middle; 
  background-color: aquamarine;
  width: 600px;
  height: 250px;
  padding: 15px;
  text-align: right;
  line-height: 0.5;
  position: relative;
  left: 30px;
  top: 20px;
  }

  .foto {
  width: 200px;
  height: 200px;
  display: inline-block;
  position: absolute;
  top: 80px;
  left: 100px;
}

.GermanPavan{
  font-size: 24px;
  color: blue;
  }
  
  h4, h5, h6 {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 5px;
  }

